{% extends "exchange/base.html" %}
{% load static %}

{% block title %}
    Search - Bullion
{% endblock %}

{% block body %}
    <div class="page-header">Search For A Coin</div>

    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <form class="form-inline" style="width: 40%; margin: 30px auto 0 auto;">
        <input class="form-control mr-sm-2" id="search" type="search" placeholder="What do you want to Search?" aria-label="Search">
    </form>

    <div class="content_c">
        <table id="list_area">
        </table>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}